body {
	background: #2c3e50;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2c3e50, )#3b8d99;  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right,  #b17f77, #32ad84); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color:#fff
}

button {
	margin: 0px 0px 10px;
}



