{% extends "layout.html" %}

{% block content %}

<h1 class="display-1" style="color:white;font-size:45px;font-weight: bold">Description</h1>
<br/>
<br/>
<h3 class="display-4" style="color:white;font-size:24px">This is a project that integrates Flask (Web Development), SQLAlchemy (DB) and Scikit-Learn (Machine Learning). </h3>
<br/>

<h1 class="display-4" style="color:white;font-size:24px">The used dataset is Iris, because it's a good example for multiclass and not need many features.</h1>
<br/>
<h1 class="display-4" style="color:white;font-size:24px">Features: </h1>

<li class="display-4" style="color:white;font-size:18px">Petal Length</li>
<li class="display-4" style="color:white;font-size:18px">Petal Width</li>

{% endblock %}
